/* Este es un comentario */
*{
	margin:0;
	padding:0;
}

/* 12pt = 16px = 100% = 1em */
body{
	background: #212121 url(../img/fondo.jpg);
	color: #FFF;
	font-family: verdana;
	font-size: 2em;
}

h1{
	color: #F60;
	margin: 0.25em auto;
	text-align: center;
	text-shadow: 10px 10px 5px rgba(255,255,255,0.5);
}

header,nav,footer{
	background: #1E6381;
	border-radius: 0.5em;
	
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
}

section#contenedor{
	background: white;
	margin:0 auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
}

section#principal, aside{
	background: #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.25em auto;
	min-height: 200px;
	padding: 0.25em;
	text-align: center;
	vertical-align: top;
	width: 65%;
}
aside{
	width: 30%;
}
article{
	background: #011e30;
	border-radius: 0.5em;
	min-height: 140px;
	padding: 0.25em;
}













